{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        
        {% for atelier in ateliers %}
        <article>
            <h2 class="text-center">
                {{ atelier.libelle }}
            </h2>
            
            <div class="text-center">
                {% for vacation in atelier.vacations %}
                    <h6>
                        Date de début de l'atelier :
                        {{vacation.dateheureDebut|date('d-m-Y H:i')}}
                    </h6>

                    <h6>
                        Date de fin de l'atelier :
                        {{vacation.dateheureFin|date('d-m-Y H:i')}}
                    </h6>
                {% endfor %}
                
                <br>
                
                <ul class="list-group">
                    {% for theme in atelier.themes %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{theme.libelle}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
                
        <br />
        <div class="border-top my-3"></div>
        <br />       
    {% endfor %}
    
    </div>
{% endblock %}