{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        
        {% for hotel in hotels %}
            <article>
                <h1 class="text-center">
                    {{ hotel.nom}}
                </h1>
                
                <ul class="list-group">
                    {% for tarifs in hotel.tarifs %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ tarifs.categorie.libelleCategorie }}
                            :
                            {% if tarifs.categorie.libelleCategorie == 'Supplément repas' %}
                                    {{ tarifs.tarifNuite }}
                                    €
                            {% else %}
                                    {{ tarifs.tarifNuite }}
                                    € / nuit

                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </article>
            
            <br />
            <div class="border-top my-3"></div>
            <br /> 
        {% endfor %}
    
    </div>
{% endblock %}