{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">
            {{ congres.libelle}} <br>
        </h1>
        
        <h2 class="text-center">
            Date de début du congré :
            {{ congres.dateDebut|date('d-m-Y')}}<br>
            Date de fin du congré :
            {{ congres.dateFin|date('d-m-Y')}}
        </h2>
    </div>
{% endblock %}
