
{% block footer %}
    <div class="container"> {% block body %}{% endblock %}
        <footer class="footer fixed-bottom bg-primary">
                <div class="row p-2">
                    <div class="col-4 text-left txt-footer">
                        <a href="#" class="text-white">
                            Contact
                        </a>
                    </div>
                    
                    <div class="col-4 text-center">
                        <img src="/img/mdl.PNG" height="30px">
                    </div>
                    
                    <div class="col-4 text-right txt-footer">
                        <a href="#" class="text-white">
                            Mentions légales
                        </a>  
                    </div>
                </div>
        </footer>
    </div>
{% endblock %}