<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        
        <img class="logo" src="/img/mdl.PNG" height="30px" >
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                
                <!-- MENU NAVIGATION _______________________________________________________________________________________________________________ MENU NAVIGATION -->
                
                <div id="appNav" class="d-flex flex-row w-100"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('_ateliers') }}">Ateliers
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('_hotels') }}">Hébergement
                        </a>
                    </li>
                    
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ateliers</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Liste des pays</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Liste des ports</a>
                            <a class="dropdown-item" href="#">Créer un port</a>
                        </div>
                    </li>
                    -->
                </div>

                <!-- MENU COMPTE _______________________________________________________________________________________________________________ MENU COMPTE -->
                
                <div id="accountNav" class="d-flex flex-row">
                    <a class="nav-link" href="/login">Se connecter
                    </a>
                    
                    <a class="nav-link" href="#">S'inscrire
                    </a>

                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-link" href="#">Administrer
                        </a>
                    {% endif %}
                    
                    <!--
                    <a class="nav-link" href="#">Se déconnecter
                    </a>
                    -->
                </div>
            </ul>

        </div>
    </div>
</nav>





