{% extends 'base.html.twig' %}

{% block body %}
    
    {% block title %}
        <h2 class="container">
            ADMINISTRATION
        </h2>
    {% endblock %}
    
    <div class="container d-flex flex-row">
        <div class="m-2 p-2 h-25 btn btn-success">1</div>
        <div class="m-2 p-2 h-25 btn btn-success">2</div>
        <div class="m-2 p-2 h-25 btn btn-success">3</div>
    </div>
{% endblock %}